<%=link_to 'Upload New Song', new_song_path%>

<ul>
<% @songs.each do |song| %> 
<li><%=song.audio.filename%></li> 

	<audio controls>
		<source src="<%= song.audio.url %>" type="audio/mpeg">
	</audio>

<% end %> 
</ul>

